* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    gap: 19px;
    justify-content: center;
    padding: 7px;
    max-width: 70vw;
    margin: auto;

}



.nav img {
    padding-left: 10px;
    padding-right: 51px;
    
}

.navbar {
    display: flex;
}

.navlist {
    gap: 33px;
    list-style: none;
    display: flex;
    font-weight: 600;
    color: #aaa;
    font-size: 18px;
    align-items: center;
}

.sub {
    display: flex;
    color: #aaa;
    font-size: 18px;
    align-items: center;
    font-weight: 600;
    gap: 23px;
}

.sub img {
    width: 32px;
    height: 32px;
    padding: 0;
}

.lastnavsec{
    display: flex;
    /* gap: 13px; */
    justify-content: center;
}

.search img{
    padding-right: 28px;
    padding-left: 31px;
}

.navlist svg{
    padding: 0px 5px;
}
